<!-- tracker/templates/tracker/add_expense.html -->
{% extends 'tracker/base.html' %}

{% block title %}Add Expense{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Add Expense</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.amount.id_for_label }}">Amount:</label>
                {{ form.amount }}
            </div>
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}">Category:</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="{{ form.source.id_for_label }}">Source:</label>
                {{ form.source }}
            </div>
            <div class="form-group">
                <label for="{{ form.date.id_for_label }}">Date:</label>
                {{ form.date }}
            </div>
            <button type="submit" class="btn btn-primary">Save Expense</button>
        </form>
    </div>
{% endblock %}
